@model IEnumerable<Pizzas>

    @{
    var pageName = "Home Page";
    ViewData["Title"] = pageName;
    }

    <div align="center">
        <h1>Welcome to my Pizza Shop!</h1>
        <h2>Best in Taste</h2>

        <img src="../images/pizza6.jpg" style="width: 50%;" />
    </div>

